body {
    background: url("../img/sun.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-top: 20%;
}

h1, h5 {
    background: blueviolet;
    padding: 3% 5% 3% 5%;
}

#backdrop {
    padding-left: 8%;
    padding-right: 8%;
}

#row1 {
    margin-right: 3%;
}

h1 {
    color: aliceblue;
    text-align: center;
}

h5 {
    color: aliceblue;
    text-align: justify;
}

form {
    background: rgba(228, 228, 230, .85);
    padding-top: 2%;
    padding-bottom: 100%;
}

form img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    display: block;
    width: 78%;
}

.input-field.inline {
    margin-right: 14%;
    margin-left: 14%;
    display: block;
}

.row button {
    padding-left: 10%;
    padding-right: 10%;
}

#password-reset, #new-account {
    padding-left: 3%;
    padding-right: 3%;
}

.material-icons {
    font-size: 2rem;
}


